@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


#nav-links .nav-link {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

#nav-links .nav-link .nav-link-label {
    color: white;
    font-size: 1.25rem;
    margin: 0;
    text-transform: uppercase;
}

#nav-links .nav-link .nav-link-image {
    width: max(20vw, 400px);
    aspect-ratio: 1.8 / 1;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    object-fit: cover;
}

nav {
    height: 50vh;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}
  
#nav-links {
    display: flex;
    gap: clamp(1rem, 2vw, 2rem);
    margin-top: clamp(2rem, 2vw, 3rem);
    padding: 0rem clamp(1rem, 2vw, 2rem);
    transform: translateY(70%) scale(0.9);
    transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
}

#nav-links.active {
    transform: translateY(0%) scale(1);
}
